/* APP BAR STYLES */
#title-container {
  float: left;
  width: 40%;
  text-align: left;
}

#search-container {
  float: left;
  width: 40%;
  text-align: right;
}

#header-container {
  width: 80%;
  margin-left: 10%;
}

/* TABLE STYLES */
